<%- include('includes/head.ejs')%>

<%- include('includes/navbar.ejs')%>

<!-- <h1>This is cart....</h1> -->

<main class="container">
    <% if(products.length > 0) { %>
            <% products.forEach(p => { %>
                
        <div class="card mycard" >
                   <h1><%= p.productId.productTitle %></h1>
                    <h3>Quantity: <%= p.quantity %></h3>
                    <form action="/delete-cart" method="POST">
                    <input type="hidden" name="productId" value="<%= p.productId._id %>">
                    <button class="btn btn-outline-danger"  type="submit">Delete</button>
                    </form>
                    </div>
                <% }) %>
        <hr>
        <!-- <form action="/create-order" method="POST" style="text-align: center;">
            <button  class="btn btn-outline-info" type="Submit">Order Now!</button>
        </form> -->
        <div style="text-align: center;">
        <a class="btn btn-outline-info"  href="/checkout">Order Now!</a>

        </div>
        <% } else { %>
            <h2>No Product in Cart</h2>
            <% } %>
</main>

<%- include('includes/footer.ejs')%>