<%- include('includes/head.ejs')%>

<%- include('includes/navbar.ejs')%>
<div style="text-align: center; margin-top: 20px;">

<h1><%= product.productTitle %></h1>
<hr>
<div>
    <img class="img-thumbnail" style="height: 300px;"  src="/<%= product.image%>" alt="<%= product.productTitle%>">

</div>

<h3><%= product.price%></h3>
<h5><%= product.productDesc%></h5>

</div>

<%- include('includes/footer.ejs')%>